@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fear</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <h2>Это же так просто !</h2>
    <div>
        <img src="~/Content/images/ac80cd44b06c.jpg" />
    </div>    
    <h2>Смотрим за печенькой. Все очень просто - нужно просто бежать в ту сторону куда говорит РЛ\DBM</h2>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/i4ueZ4Q9IiY" frameborder="0" allowfullscreen></iframe>
    <h3>Не заставляйте меня нервничать</h3>
    <img src="https://dl.dropbox.com/u/10957601/Stuff/07a733201392578179be4dd11a484b38.gif" alt="Всех поубиваю"/>
</body>
</html>
